.modal-container {
    background-color: rgba(34, 34, 34, 0.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
.modal-window {
    background-color: var(--background-color);
    width: 50%;
    height: 90%;
    border-radius: 25px;
}
.modal-close-button {
    display: flex;
    color: white;
    font-size: 10pt;
    position: relative;
    top: 15px;
    left: 15px;
}
.modal-info-box {
    display: flex;
    justify-content: space-evenly;
}
.modal-poster {
}
.modal-middle-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-right-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal-synopsis {
    font-size: 10pt;
}
