.modal-container {
    background-color: rgba(34, 34, 34, 0.8);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
}
.modal-window {
    background-color: var(--background-color);
    width: 80%;
    height: 90%;
    border-radius: 25px;
    padding: 5px;
    font-family: var(--body-font);
}
.modal-close-button-container {
    display: flex;
    justify-content: flex-end;
}
.modal-close-button:focus {
    background-color: var(--text);
    color: white;
}
.modal-close-button:hover {
    background-color: var(--text);
    color: white;
    transform: scale(1.1);
    box-shadow: 1px 1px 3px 1px var(--text-light);
}
.modal-close-button {
    font-size: 7pt;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    letter-spacing: 2px;
    background-color: transparent;
    color: black;
    text-align: center;
    border: 1px solid black;
}
.modal-anime-title-container {
    padding: 10px;
    font-family: var(--header-font);
}
.anime-rating-container {
    justify-self: flex-end;
    position: absolute;
    top: 120px;
}
.anime-rating {
    font-size: 48px;
    font-weight: bold;
}
.anime-rating-small {
    font-size: 12px;
    font-weight: 400;
}
.modal-english-title {
    font-size: clamp(20px, 4vw, 42px);
    margin-bottom: 10px;
}
.modal-romaji-title {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
}
.modal-japanese-title {
    font-size: 12px;
    margin-bottom: 10px;
}
.dashed-line {
    border: none;
    border-top: 1px dashed #000;
    width: 100%;
}
.modal-info-box {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.modal-poster {
    border-radius: 10px;
    border: 1px solid var(--line);
    filter: drop-shadow(4px 4px 0px var(--text-light));
    height: 350px;
    width: 250px;
}

.modal-middle-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.top-container {
}
.modal-rankings {
    text-align: center;
    border-radius: 25px;
    border: 1px solid black;
    background-color: var(--background-color-dark);
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.modal-rankings-top,
.modal-rankings-bottom {
    display: flex;
    justify-content: space-around;
}
.bottom-container {
}
.modal-personal-score-container {
    display: flex;
    justify-content: center;
}
.modal-personal-score-content {
    border: 1px solid black;
    width: 100%;
    border-radius: 25px;
    padding: 15px;
}
.score {
    display: flex;
    justify-content: space-between;
}
.score span {
    color: red;
}
.numbers {
    display: flex;
    justify-content: space-between;
}
.score-buttons {
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
    width: 60px;
}
.score-buttons:hover {
    background-color: red;
    color: white;
    transform: translateY(-2px);
}
.score-buttons-full {
    background-color: red;
    color: white;
}
.modal-right-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
}
.modal-synopsis {
    font-size: 10pt;
    font-family: var(--body-font);
}
.bold {
    font-weight: 700;
}
