.anime-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    list-style: none;
    margin-top: 100px;
}

.anime-item {
    flex-direction: column;
    align-items: center;
    margin: 5px;
}
.anime-title-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 5px;
}
.anime-item-rating {
    justify-self: flex-end;
}
.anime-item-poster {
    border-radius: 10px;
    border: 1px solid var(--line);
    filter: drop-shadow(4px 4px 0px var(--text-light));
    height: 350px;
    width: 250px;
}
.anime-item-title {
    font-size: 12pt;
    justify-self: flex-start;
    overflow-wrap: break-word;
    width: 200px;
}
.anime-item-sub-info {
    color: var(--labels);
    margin-left: 5px;
    font-size: 8pt;
}

.labels {
    font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.headlines {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.body {
    font-family: 'DM Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 767px) {
    .anime-list-container {
        margin-top: 145px;
    }
    .anime-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .anime-item-title {
        width: 100%;
        max-width: 240px;
    }
}
