.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
