.search-bar-container {
    display: flex;
}
.query {
    width: 400px;
    margin: 10px;
    height: 65px;
    text-align: center;
    font-size: 12pt;
    border-radius: 50px;
    background-color: var(--background-color-dark);
}
